<html>
    <head>
        <title>Le blog de Bruna</title>
    </head>
    <body>
        <div>
            <h1><a href="">Le blog de Bruna</a></h1>
        </div>

        <div>
            <p>publié le: 23.10.2016, 20:07</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>Blablabla.</p>
        </div>
        <div>
            <p>publié le 23.10.2016, 20:09</p>
            <h2><a href="">Mon deuxième post</a></h2>
            <p>Bliblibli</p>
        </div>
     </body>
</html>